html {
    height: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
}

.conteiner_main {
    min-height: 100%;
    width: 100%;
    display: flex;
}

.private-chat_section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.private-chat-friends_section {
    display: flex;
    max-width: 33%;
    min-width: 33%;
    height: 80vh;
    border-right: 3px solid rgb(121, 114, 114);
}

.private-chat_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.private-chat_ul {
    width: 95%;
    height: 90%;
    padding-top: 10px;
    gap: 13px;
    display: flex;
    flex-direction: column;
}

.private-chat_li {
    display: flex;
    flex-direction: row;

    border: 2px solid rgb(94, 147, 172);
    background-color: rgb(233, 218, 218);

    border-radius: 20px;

    padding: 7px;
    padding-left: 3px;
    gap: 8px;
}

.imgFriendsPrivateChat {
    width: 37px;
    border-radius: 100%;
    margin-left: 7px;
}

.info_div_chat_private {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name_fruends_private-chat {
    color: black;
    font-weight: 800;
}

.mensagem_friends_private_chat {
    color: rgb(51, 49, 49);
    font-size: 15px;
}

.chat-friend-conversation_section {
    width: 100%;
    height: 80vh;
}

.chat-friend-conversation_ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.left div {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content:end;
    margin-bottom: 10px;
}

.right div {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}